<div class="app">
	<div class="wrapper">
		<header>
			<h1>{{ title }}</h1>
			<form on:submit="submitSearch(event, search)">
				<input type="search" aria-label="Search"
					bind:value="search" />
				<button type="submit">
					Search
				</button>
			</form>
		</header>

		<div>
			{{#each sortedContents as child}}
				{{#if child.type === 'directory'}}
					<Directory
						name="{{ child.name }}"
						size="{{ child.size }}"
						path="{{ child.path }}"
						lastModified="{{ child.lastModified }}"
						children="{{ child.children }}"
						hidden="{{ child.hidden }}"
						displayPath="{{ displayPath }}" />
				{{else}}
					<File
						name="{{ child.name }}"
						size="{{ child.size }}"
						path="{{ child.path }}"
						lastModified="{{ child.lastModified }}"
						hidden="{{ child.hidden }}"
						displayPath="{{ displayPath }}" />
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<script>
import Directory from './Directory.html';
import File from './File.html';

import search from '../assets/search.svg';

import 'typeface-droid-sans-mono';
import 'typeface-khand';

import {
	getContents,
	searchForContents,
	sortNodes
} from '../utils.js';

export default {
	data() {
		return {
			title: 'index2',
			contents: [],

			search: '',
			displayPath: false
		};
	},

	oncreate() {
		this.fetchContents();
	},

	computed: {
		sortedContents(contents, displayPath) {
			return sortNodes(contents, displayPath ? 'path' : 'name');
		}
	},

	methods: {
		fetchContents() {
			getContents('.').then(contents => {
				this.set({
					contents,
					displayPath: false
				});
			}).catch(err => {
				console.error(err);
			});
		},
		submitSearch(event, search) {
			event.preventDefault();

			if (search)
				this.searchContents(search);
			else
				this.fetchContents();
		},
		searchContents(query) {
			searchForContents(query).then(contents => {
				this.set({
					contents,
					displayPath: true
				});
			}).catch(err => {
				console.error(err);
			});
		}
	},

	components: {
		Directory,
		File
	}
};
</script>

<style>
	* {
		font-family: 'Khand', sans-serif;
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 2rem;
	}

	h1 {
		margin: 0;
		flex-grow: 1;
		font-size: 3rem;
		color: #263238;
	}

	input[type="search"] {
		border: 1px solid #ECEFF1;
		border-radius: 0.25rem;
		font-size: 1rem;
		padding: calc(0.5rem - 1px) 1rem;
	}

	.wrapper {
		width: 1024px;
		margin: 0 auto;
	}

	a, a:hover, a:visited {
		text-decoration: none;
	}
</style>
