<div class="{{ `directory ${hidden ? 'hidden' : ''}` }}">
	<button type="button" class="{{ expanded ? 'contract' : 'expand' }}" on:click="set({expanded: !expanded})">
	</button>
	<div class="details">
		<Node type="directory"
			name="{{ name }}"
			size="{{ size }}"
			path="{{ path }}"
			lastModified="{{ lastModified }}" />

		{{#if expanded}}
			<div class="children">
				{{#each sortedChildren as child}}
					{{#if child.type === 'directory'}}
						<:Self
							name="{{ child.name }}"
							size="{{ child.size }}"
							path="{{ child.path }}"
							lastModified="{{ lastModified }}"
							children="{{ child.children }}"
							hidden="{{ child.hidden }}" />
					{{else}}
						<File
							name="{{ child.name }}"
							size="{{ child.size }}"
							path="{{ child.path }}"
							lastModified="{{ lastModified }}"
							hidden="{{ child.hidden }}" />
					{{/if}}
				{{/each}}
			</div>
		{{/if}}
	</div>
</div>

<script>
import Node from './Node.html';
import File from './File.html';

import { sortNodes } from '../utils.js';

export default {
	data() {
		return {
			name: '',
			size: 0,
			path: '',
			lastModified: 'today',
			children: [],
			hidden: false,

			expanded: false
		};
	},

	computed: {
		sortedChildren(children) {
			return sortNodes(children);
		}
	},

	components: {
		Node,
		File
	}
};
</script>

<style>
	.directory {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.directory.hidden {
		display: none;
	}

	.details {
		flex-grow: 1;
	}

	.children {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 2px solid #ECEFF1;
	}

	.directory > .details > .node:before {
		content: '';
		display: block;
		background: #777;
		transform: rotate(45deg);
	}

	.directory > .details > .node > .name > a {
		color: #37474F;
	}

	.directory > .details > .node > .name > a:hover {
		color: #78909C;
	}
</style>
