<div class="directory {{ hidden ? 'hidden' : '' }}">
	<button type="button"
			class="expand-button
				{{ expanded ? 'expanded' : 'collapsed' }}
				{{ fetching ? 'fetching' : '' }}
			"
			disabled="{{ !expandable || fetching }}"
			on:click="toggleExpansion()">
		{{{ arrow }}}
	</button>

	<div class="details">
		<Node type="directory"
			name="{{ name }}"
			size="{{ size }}"
			path="{{ path }}"
			lastModified="{{ lastModified }}"
			displayPath="{{ displayPath }}" />

		{{#if expanded}}
			<div class="children">
				{{#each sortedChildren as child}}
					{{#if child.type === 'directory'}}
						<:Self
							name="{{ child.name }}"
							size="{{ child.size }}"
							path="{{ child.path }}"
							lastModified="{{ lastModified }}"
							hidden="{{ child.hidden }}" />
					{{else}}
						<File
							name="{{ child.name }}"
							size="{{ child.size }}"
							path="{{ child.path }}"
							lastModified="{{ lastModified }}"
							hidden="{{ child.hidden }}" />
					{{/if}}
				{{/each}}
			</div>
		{{/if}}
	</div>
</div>

<script>
import Node from './Node.html';
import File from './File.html';

import arrow from '../assets/arrow.svg';

import { getContents, sortNodes } from '../utils.js';

export default {
	data() {
		return {
			name: '',
			size: 0,
			path: '',
			lastModified: 'today',
			children: [],
			displayPath: false,

			expandable: true,
			expanded: false,
			fetching: false,
			arrow
		};
	},

	computed: {
		hasChildren(children) {
			return (
				children
				&& Array.isArray(children)
				&& children.length > 0
			);
		},
		sortedChildren(children) {
			if (children)
				return sortNodes(children);

			return [];
		}
	},

	methods: {
		toggleExpansion() {
			if (!this.get('expandable'))
				return;

			if (this.get('expanded')) {
				this.set({ expanded: false });
			} else if (!this.get('hasChildren')) {
				this.getChildren();
			} else {
				this.set({ expanded: true });
			}
		},
		getChildren() {
			this.set({ fetching: true });

			getContents(this.get('path')).then(children => {
				const expandable = (
					children
					&& Array.isArray(children)
					&& children.length > 0
				);

				this.set({
					fetching: false,
					children,
					expandable,
					expanded: expandable
				});
			}).catch(err => {
				console.error(err);
				this.set({ fetching: false });
			});
		}
	},

	components: {
		Node,
		File
	}
};
</script>

<style>
	.directory {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.expand-button {
		border: none;
		outline: none;
		background: none;
		height: 2em;
	}

	.expand-button:disabled {
		opacity: 0.25;
	}

	.expand-button.fetching:disabled {
		opacity: 1;
		cursor: wait;
	}

	.expand-button svg {
		width: 1em;
		height: 1em;
		vertical-align: middle;
		transition: transform 0.05s ease-out;
	}

	.expand-button.expanded svg {
		transform: rotate(0.25turn);
	}

	.details {
		flex-grow: 1;
	}

	.children {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 2px solid #ECEFF1;
	}

	.directory > .details > .node:before {
		content: '';
		display: block;
		background: #777;
		transform: rotate(45deg);
	}

	.directory > .details > .node > .name > a {
		color: #37474F;
	}

	.directory > .details > .node > .name > a:hover {
		color: #78909C;
	}
</style>
