<div class="{{ `file ${hidden ? 'hidden' : ''}` }}">
	<Node name="{{ name }}"
		size="{{ size }}"
		path="{{ path }}"
		lastModified="{{ lastModified }}" />
</div>

<script>
import Node from './Node.html';

export default {
	data() {
		return {
			name: '',
			size: 0,
			path: '',
			lastModified: 'today',
			hidden: false
		};
	},

	components: {
		Node
	}
};
</script>

<style>
	.file.hidden {
		display: none;
	}

	.file > .node > .name > a {
		color: #1E88E5;
	}

	.file > .node > .name > a:hover {
		color: #BBDEFB;
	}

	.file svg {
		fill: #1E88E5;
	}
</style>
