<div class="file {{ hidden ? 'hidden' : '' }}">
	<Node name="{{ name }}"
		size="{{ size }}"
		path="{{ path }}"
		lastModified="{{ lastModified }}"
		displayPath="{{ displayPath }}" />
</div>

<script>
import Node from './Node.html';

export default {
	data() {
		return {
			name: '',
			size: 0,
			path: '',
			lastModified: 'today',
			displayPath: false
		};
	},

	components: {
		Node
	}
};
</script>

<style>
	.file {
		padding-left: 2rem;
	}

	.file > .node > .name > a {
		color: #1E88E5;
	}

	.file > .node > .name > a:hover {
		color: #BBDEFB;
	}

	.file svg {
		fill: #1E88E5;
	}
</style>
