<div class="node">
	<span class="icon">
		{{{ icon }}}
	</span>
	<span class="name">
		<a href="#">
			<span>{{ basename }}</span>
			<span class="extension">{{ extension }}</span>
		</a>
	</span>
	<span class="size">
		{{ size }}
	</span>
	<span class="last-modified">
		{{ lastModified }}
	</span>
</div>

<script>
import { getBasename, getExtension } from '../utils.js';
import { getIcon } from '../icons.js';

export default {
	data() {
		return {
			type: 'file',
			name: '',
			size: 0,
			lastModified: 'today'
		};
	},

	computed: {
		basename(name) {
			return getBasename(name);
		},
		extension(name) {
			return getExtension(name);
		},
		icon(extension, type) {
			return getIcon(extension, type);
		}
	}
};
</script>

<style>
	.node {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0.5em;
	}

	.size,
	.last-modified {
		margin-left: 3em;
		color: #CFD8DC;
		font-family: 'Share Tech Mono', monospace;
		font-size: 1rem;
		letter-spacing: -0.01rem;
	}

	.name {
		flex-grow: 1;
	}

	.extension {
		color: #BBDEFB;
	}

	svg {
		width: 2em;
		height: 2em;
		margin-right: 0.75em;
		vertical-align: middle;
	}
</style>
